<div class="crystal-card">


    <!--Imagen de perfil-->
    <div class="about-img">
        <img src="./assets/resources/Foto.jpg" alt="">
    </div>

    <!--Texto e iconos-->
    <div class="about">
        <!--Texto-->
        <div class="mb-5">
            <h1 class="mb-3">Jorge Andrés Rodríguez Castaño</h1>
            <p>
                Estudiante de noveno semestre de <strong>Ingeniería de Sistemas y Computación</strong>, 
                autodidacta y con gusto por la tecnología y la programación. Poseedor de conocimiento en
                <strong>metodología ágil Scrum</strong> para el desarrollo de proyectos con buena calidad, Normas y
                  buenas prácticas en el diseño del software tanto para el backend, el frontend y
                   las bases de datos. 
            </p>
            <p>
                Cuento con conocimientos en marcos de desarrollo (Framework) como <strong>.net y Flask</strong> para
                el backend y <strong>Angular</strong> para el frontend. Manejando lenguajes como <strong>C#, Java,
                     Python, JavaScript, Html y Css.</strong> Conocimiento y manejo en bases de datos 
                    <strong>SQL Y NoSQL</strong> local y en la nube.
            </p>
            <p>
                Conocimiento en <strong>diseño y desarrollo de APIs.</strong> Con experiencia en manejo de APIs para la
                recolección y procesamiento de datos.
                Competencia en manejo y edición de estructuras json para almacenamiento y recuperación en bases
                de datos.
            </p>
            <p>
                Durante mis estudios, adquirí conocimientos en <strong>seguridad informática</strong>, abarcando temas
                 como criptografía, esteganografía, análisis de metadatos, métodos de cifrado y
                  codificación, ataques de fuerza bruta, técnicas de ocultamiento de información y
                   reversing, entre otros.
            </p>
            <p>
                Poseo conocimiento en <strong>inteligencia artificial</strong>, desde el tratamiento de imágenes, el
                entrenamiento de la red, y el diseño de aplicaciones para el uso del aprendizaje adquirido
                por la red. Asimismo, los algoritmos relacionados con aplicaciones y uso de redes neuronales artificiales
                y convolucionales.
            </p>
        </div>

        <!--Iconos-->
        <div>
            <app-devicon-container [ShowText]="true"
                [Icons]="[{name:'.Net Core'}, {name:'Flask'}, {name:'Angular'}, {name:'Csharp'}, 
                {name:'Java'}, {name:'Python'}, {name:'TypeScript'}, {name:'JavaScript'}, {name:'HTML'}, {name:'Css'},
                 {name:'SqlServer'}, {name:'MySql'}, {name:'Azure'}, {name:'MongoDB'}, {name:'Postman'},
                  {name:'GitHub'}, {name:'Matlab'}]">
            </app-devicon-container>
        </div>
    </div>

</div>

<div class="row">
    <div class="crtf-container">
        <img src="./assets/resources/Certificados/Certificado Seminario taller redes y seguridad informática ( IPV4 Y IPV6 ).jpg" alt="">
        <img src="./assets/resources/Certificados/ScrumFundamentalsCertified-JorgeRodríguez-997588.jpg" alt="">
        <img src="./assets/resources/Certificados/Microsoft Azure Fundamentals.jpg" alt="">
        <img src="./assets/resources/Certificados/Certificado Aulas espejo con Bolivia.jpg" alt="">
        <img src="./assets/resources/Certificados/Certificado_(DÍA DEL INGENIERO Y LAS TIC 2021.jpg" alt="">
    </div>
</div>